<div class="attach-input-control {{wrapperStyle}}">
  <input
    class="input attach-input {{inputStyle}}"
    value="{{value}}"
    type="file"
    id={{inputId}}
    name={{inputId}}
    multiple
  />
  <label for="attach-input" class="attach-input-button">
    <img class="input__file-icon" src={{src}}>
  </label>
</div>
