<div class="message-input-control {{wrapperStyle}}">
  <input
    class="input message-input {{inputStyle}}"
    value="{{value}}"
    type="text"
    id={{inputId}}
    name={{inputId}}
    placeholder={{placeholder}}
    {{autofocus}}
  />
</div>
