<div class="search-input-control {{wrapperStyle}}">
  <input
    class="input search-input {{inputStyle}}"
    value="{{value}}"
    type="search"
    id={{inputId}}
    name={{inputId}}
    placeholder={{placeholder}}
    {{autofocus}}
  />
  <div {{simple}} class="message-alert most-small red1 {{error}} {{alertStyle}}">{{alertMessage}}</div>
</div>
